.display-medium{
	display: inherit !important;
}



/*FOOTER*/
#iconoredes{
	width: 35px;
	height: 35px;
}

#Tags,#EnlacePopular{
	font-family: Century Gothic;
	font-size: 16px;
}
#listadoredes{
	padding-left: 10px;
}
#politica{
	margin-left: 5%;
}
#listaredes {
	margin-right: 8%;
}
#listadoprivacidad{
	font-size: 16px;
	line-height: 50px
}
#Titulopopular{
	font-size: 22px;
}
#Tituloredes{
	font-size: 22px;
}