.display-peque{
	display: inherit !important;
}



/*FOOTER*/
#iconoredes{
	width: 35px;
	height: 35px;
}

#Tags,#EnlacePopular{
	font-family: Century Gothic;
	font-size: 15px;
	line-height: 25px;

}
#listadoredes{
	padding-left: 8px;
}
#politica{
	margin: 0;
	padding-left: 2%;
}
#listaredes {
	margin-right: 5%;
}
#listadoprivacidad{
	font-size: 14px;
	line-height: 50px;
}
#Titulopopular{
	font-size: 20px;
}
#Tituloredes{
	font-size: 20px;
}
div.vertical-line {
	width: 2.5px;
}
div.line{
	width: 2.5px;

}




