body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #07acb5;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
}

a {
    color: #07acb5;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}
