.display-great{
	display: none;
}
.display-medium{
	display: none;
}
.dislay-mini{
	display: none;
}
.dislay-peque{
	display: none;
}
.display-mini3{
	display: none;
}

.display-mini4{
	display: none;
}
.display-mini5{
	display: none;
}

*{
	margin-left:0;
	margin-right:0;

}

body{
	background-image: url(fondo2.jpeg);
	background-repeat: repeat;
	background-position:center;
	background-attachment: fixed;
	align-items:center;
	text-align: :center;
	margin-top: 0;
}

/*BANNER */
	img #banner {
		align-items: center;
		align-content: center;
		float: center;
		align-self: center;
		direction: center;
		width: 100%
		margin:0;
		padding: 0;
	}
figure #banner{
margin: 0;
padding: 0;
	width: 100%;
	position: relative;
}


/*BARRA D NAVERGACION*/
.no-style{
	list-style-type:none;
	text-decoration: none;
	display: block;
}
/*SEPARACION DE BOTONES */

#INICIOSESION{
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	color:black;
}

/*tabla*/
.barrap{
	width: 100%;
	font-family: arial;
	font-weight: bolder;
	border:5px outset orange;
	text-align: right;
	margin: 0;
	border-collapse: separate;
    border-spacing: 0px;
    background: rgba(255,255,255,0.5);
	border-radius: 0;
	margin-top: 0;
}
tbody.barra{
	border:0;
	align-content: all;
}
tr.barra{
	border:0;
	width: 100%;
}
td.barra{
	padding: 0;
	margin:0;
	border:0;
    background: rgba(255,255,255,0.5);
	border-radius: 0;
	margin-top: 0;

}
td.barra:hover{
    background: rgba(255,255,255,0.5);

}
td.barra#ancho{
	text-align: center;
	padding: 0;
	width: 20%;
	max-height: 39px;
	margin-top: 0;

}
td.barra#ancho2{
	text-align: right;
	width: 35%;
	max-height: 39px;
	margin-top: 0;

}



li#INICIOSESION.no-style{
	background-color: rgba(255,165,0,0.4);
	padding-left: 23px;
	padding-right:33px;
	padding-bottom: 8px;
	padding-top: 8px;
	margin: 0;
	position: static;
	border-left: 2px outset #CD853F ;
}
#MIPERFIL{
	text-indent: 10px;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	color:black;
	position: relative;
}




/*lista categorias*/
#menu{
	list-style: none;
	word-spacing: 0;
	color:black;
	font-size: 18px;
}
ul#menu{
	margin-top: 0px;
	display:;
	font:calibri;
	padding: 5px 10px;
}
#listado {
	font-size: 20px;
	margin:0px;
	margin-left: 0px;
	margin-right: 0px;
	font:calibri;
	padding: 15px 15px;
	white-space:pre;
}
#menu{
	padding: 5px;

}
#menu a:hover{
	background-color: rgba(255,165,0,0.6);
	border:1px inset rgba(255,165,0,0.6);
	border-radius: 5% 5% 5% 5%;
}
.barra li:hover> ul {
	display: block;
	text-align: left;
	z-index: 9999999999999;
	border:5px inset orange;
	border-radius: 3% 3% 3% 3%;
	background-color: rgba(255,255,255,1);
	margin-top: 0px;
	font: calibri; 
}

.barra>li{
	display: inline-block;
}
ul#barra{
	margin:0;
	padding: 0;
}
.barra li ul{
	display:none;
	position: absolute;
}


#barraboton  {
	font-size: 20px;
	color:black;
}
#barraboton:hover,#barraboton :active{
	text-decoration-line: none;
	color: orange;
	background-color:transparent;
	}

a {
	text-decoration: none;
	color: black; 
}


a:hover,a:active{
	text-decoration-line: none;
	color: orange;
	background-color:transparent;
}

/*MENU DE MI PERFIL*/

#menu2{
	list-style: none;
	word-spacing: 0;
	color:black;
	font-size: 18px;
	

}
ul#menu2{
	margin-top: 0px;
	padding: 0;
	display:;
	font:calibri;
	right: 0px;
	margin-right: 0; 
}
#listado {
	font-size: 20px;
	margin:0px;
	margin-left: 0px;
	margin-right: 0px;
	font:calibri;
	padding: 10px 15px;
	white-space:pre;
}

#menu2 a:hover{

	background-color: rgba(255,165,0,0.6);
	border:1px inset rgba(255,165,0,0.6);
	border-radius: 5% 5% 5% 5%;
} 