.display-great{
  display: none;
}

.display-medium{
  display: none;
}
.display-mini{
  display: none;
}

.display-peque{
  display: none;
}
.display-mini3{
  display: none;
}

.display-mini4{
  display: none;
}
.display-mini5{
  display: none;
}
.display-mini6{
  display: none;
}
.display-mini7{
  display: none;
}
.display-mini8{
  display: none;
}
/*Alerta*/
.letra-boton{
  font-size: 15px;
  font-weight: bold;
}
.titulo-alerta{
  font-size: 22px;
  font-family: century Gothic;
}

.swal2-styled.swal2-confirm{
  padding: 5px 34px;
}

.login {
  width: 320px;
  height: 420px;
  background: rgba(255,255,255,1);
  border: 5px inset orange;
  border-radius: 3% 3% 3% 3%;  
  color: #000;
  top: 520%;
  left: 71%;
  position: absolute;
  box-sizing: border-box;
  padding: 70px 30px;
}

.login .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color:black;
  font-family: Arial black;
}
.login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-family: century Gothic;
  color:black;
}
.login input {
  width: 100%;
  color:black;
  margin-bottom: 20px;
}
.login label:hover {
  color:orange;
}
.login input[type="email"], .login input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}
.login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: darkorange;
  color: #000;
  font-family: arial;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background: rgba(255,165,0,0.5);
  color: #000;
}

.login a {
  text-decoration: none;
  font-size: 14px;
  font-family: century Gothic;
  font-weight: bold;
  line-height: 20px;
  color: black;
}

.login a:hover {
  color: orange;
}
/*MOVIMIENTO DE CAJA DE INICIO*/
.fixed{
  position:fixed;
  top:60px;


}
.final{
  position: static;
  top: -10px;
}
.finaldos{
  position: static;
  top: -20px;
}
.finaltres {
  position: static;
  top: -40px;
}
.finalcuatro {
  position: static;
  top: -70px;
}
.finalcinco {
  position: static;
  top: -120px;
}
.finalseis {
  position: static;
  top: -140px;
}

.margen{
  margin-top:50px;
  margin-bottom:200px;
}
