body {
  margin: 0;
  padding: 0;
  bottom: 0;
  background: url(fondo1.jpg) ;
  background-repeat:  no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  background-blend-mode:hard-light; 
  
}

.login {
  width: 320px;
  height: 420px;
  background: rgba(255,255,255,1);
  border: 5px inset orange;
  border-radius: 3% 3% 3% 3%;  
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}


/*PIE DE PAGINA */
footer{
  background-color: rgba(255,165,0,0.8) ;
  width: 100%;
  height: 250px;
  margin-bottom: 0px;
  border-top: 5px outset orange;
  margin-top: 50%;  
  position: none;

}
#iconoredes{
  width: 40px;
  height: 40px;
}
#listapopular{
  float: left;
  margin:0 0;
  margin-left: 18%;
  list-style: none;
  text-align: center;
}
#Titulopopular{
  margin-top: 0;
  text-decoration: underline;
  font-family: century Gothic;
  margin-bottom: 4px;
}
#Tags,#EnlacePopular{
  font-family: Century Gothic;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
}
#listaredes {
  float: right;
  margin: 0 0;
  margin-right: 12%;
  list-style: none;
  display: inline;
}
#listadoredes{
  display: inline;
  padding-left: 10px;
}

#Tituloredes{
  margin:0 0;
  text-decoration: underline;
  font-family: century Gothic;
  margin-bottom: 40px;
  text-align: center;
}

div.vertical-line {
  background-color: black;
  height: 180px;
  width: 3px;
  position: absolute;
  left: 67%;

}
#politica{
  float: left;
  display: block;
  margin: 0 0;
  margin-left: 7%;
  padding: 0 0;
}

#listadoprivacidad{
  list-style:none;
  display: block;
  position: relative;
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: bold;
  text-decoration:none;
  line-height: 50px
}
div.line{
  background-color: black;
  height: 180px;
  width: 3px;
  position: absolute;
  left: 33%;
}

#EnlacePopular, #enlacepriv{
  color:black;
}
#EnlacePopular:hover, #enlacepriv:hover{
  color:black;
  text-decoration: underline;
}
