.display-mini8{
	display: inherit !important;
}



div.cuadro-perfil{
	border:inset orange 5px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.nombre-correo{
	font-size: 13px;
	margin-top: 20px;
}
p.lapiz{
	font-size: 16px;
}
/*RECETAS FAVORITAS*/

.favoritas{
	border:inset 5px orange;
	width: auto;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 5%;
}
h2.favorita{
	width: 100%;
	text-indent: 5%;	
	font-size: 24px;
	border-bottom: 4px solid;
}

p.fav{
	margin-top: 50px;
	font-size: 20px;
	
}
/*cuadro bloque receta*/
div.container{
	margin-top: 0px;
	margin-bottom: 0px;
	border:4px inset orange;
	background-color: rgba(255,255,255,0.5);
	border-radius: 3%;
	width: auto;
	margin-right:4%;
	height: 175px;
	margin-left:4%;
	padding: 10px;
}

div.flexslider{
	width: 180px;
	height: 180px;
	margin-top: 5px;
}

/*SHOXSLIDE imagenes */
.slides{
	padding: 0;
	margin: 0 12px;
}
.fotoreceta img{
	width: 160px;
	height: 160px;
}

ul .slides li.fotoreceta{
	width: 160px;
	height: 160px;
}
/*ESTILO DE PUNTOS DE SLIDE SHOW*/
.flex-control-nav li{
	margin-right: 12px;
}
.flex-control-nav li a{
	border: 1px solid black;
	width: 5px;
	height: 5px;
}

ol.flex-control-nav, 
.flex-control-paging{
	width: 70px;
	height: 10px;
	margin-top: 145px ;
	margin-left: 70px ;
}
li.flex-nav-next{
	margin:0;
}
.flex-direction-nav li{
	margin-top: 5px;
	margin-right:95px;
	margin-left:-25px ; 
}
.flex-direction-nav a:before {
  font-size: 12px;  
}
a.flex-next:before{
	padding: 50px 10px;
} 
li a.flex-prev {
	padding: 50px 0;
}
ul.flex-direction-nav{
	width: 300px;
}
/*TITULO*/
h2.titulo{
	font-size: 1.1em;
	margin-top: 0px;
} 

/*ESTRELLAS*/
form.clasificacion{
	font-size: 1.1em;
	height: 20px;
}

/*TIME COOK*/
.cooktime{
	top: 4px;
	left: 20px;
	font-size: 0.7em;
}

/*ETIQUETAS*/
.etiquetas{
	font-size: 11px;
}
/*INGREDIENTES*/
p.ingredientes{
	font-size: 0.7em;
	margin-top: 10px;
}


