.display-mini4{
	display: inherit !important;
}

div.cuadro-perfil{
	border:inset orange 5px;
	width: auto;
	margin-left: 13%;
	margin-right: 13%;
}

.nombre-correo{
	font-size: 14px;
	margin-top: 20px;
}
p.lapiz{
	font-size: 18px;
}
/*RECETAS FAVORITAS*/

.favoritas{
	border:inset 5px orange;
	width: auto;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5%;
}
h2.favorita{
	width: 100%;
	text-indent: 5%;	
	font-size: 27px;
	border-bottom: 4px solid;
}

p.fav{
	margin-top: 50px;
	font-size: 23px;
	
}
/*cuadro bloque receta*/
div.container{
	margin-top: 15px;
	margin-bottom: 0px;
	border:4.5px inset orange;
	background-color: rgba(255,255,255,0.5);
	border-radius: 3%;
	width: auto;
	margin-right: 5%;
	height: 200px;
	margin-left: 5%;
	padding: 15px;
}

div.flexslider{
	width: 220px;
	height: 220px;
	margin-top: 5px;
}

/*SHOXSLIDE imagenes */
.slides{
	padding: 0;
	margin: 0 12px;
}
.fotoreceta img{
	width: 185px;
	height: 185px;
}

ul .slides li.fotoreceta{
	width: 170px;
	height: 170px;
}
/*ESTILO DE PUNTOS DE SLIDE SHOW*/
.flex-control-nav li{
	margin-right: 12px;
}
.flex-control-nav li a{
	border: 1.2px solid black;
	width: 5.5px;
	height: 5.5px;
}

ol.flex-control-nav, 
.flex-control-paging{
	width: 70px;
	height: 10px;
	margin-top: 165px ;
	margin-left: 80px ;
}
li.flex-nav-next{
	margin:0;
}
.flex-direction-nav li{
	margin-top: 10px;
	margin-right:110px;
	margin-left:-20px ; 
}
.flex-direction-nav a:before {
  font-size: 12px;  
}
a.flex-next:before{
	padding: 50px 10px;
} 
li a.flex-prev {
	padding: 50px 0;
}
ul.flex-direction-nav{
	width: 400px;
}
/*TITULO*/
h2.titulo{
	font-size: 1.1em;
	margin-top: 0px;
} 

/*ESTRELLAS*/
form.clasificacion{
	font-size: 1.2em;
	height: 20px;
}

/*TIME COOK*/
.cooktime{
	top: 4px;
	left: 20px;
	font-size: 0.8em;
}

/*ETIQUETAS*/
.etiquetas{
	font-size: 15px;
}
/*INGREDIENTES*/
p.ingredientes{
	font-size: 0.8em;
	margin-top: 10px;
}

