.display-great{
	display: none;
}

.display-medium{
	display: none;
}
.display-mini{
	display: none;
}

.display-peque{
	display: none;
}
.display-mini3{
	display: none;
}

.display-mini4{
	display: none;
}
.display-mini5{
	display: none;
}
.display-mini6{
	display: none;
}
table.tabla{
	border-collapse: collapse;
	margin:auto;
	margin-top: 40px;
	border-radius: 10%;
	margin-bottom: 100px;
}
table.tabla2{
	border-collapse: collapse;
	margin:auto;
	margin-top: 40px;
	border-radius: 10%;
	margin-bottom: 100px;
}
caption.titulo-cate{
	text-align: left;
	font-family:Century Gothic;
	font-size: 50px;
	margin-bottom: 30px;
	font-weight: bold;
}
td.cuadro{
	border:5px inset orange;
	font-size: 30px;
	background: rgba(253, 245, 230,0.9);
	margin: 0;
}
h2.categoria{
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: black;
	font-family: Century Gothic;
}
.panquecas{
	text-indent: 5px;
}
.pizza{
	text-indent:15px; 
}
p.parrafo{
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 80px;
	margin-right: 80px; 
	font-size: 70px;
	
	width: 0%;
}
a.boton-cate{
	text-decoration: none;
}
td.cuadro:hover {
	cursor: pointer;
	background-color: white;
}
