.display-mini{
	display: inherit !important;
}

div.contacto-mini{
	display: none;
}

li.imagen{
	padding-top: 50px;
}
p{
	text-indent: 10px;
	font-size: 80%;
	margin-top: 0;
}


.contacto {
	width: 90%;
	margin-right: 4%;
	margin-left: 4%;
}
.usuario{
	width: 100px;
	height: 100px;
}
.imagen-correo{
	height:20px ;
	width:25px;
}
.imagen-redes{
	height:25px ;
	width:25px;
}

/*formulario*/
label{
	font-size: 17px;
	margin-right: 20px;
}
input{
	width: 60%;
	margin-top: 13px;
	margin-bottom: 10px;
	height: 23px;
	font-size: 15px;
}

select{
	font-size: 15px;
}

h2.titulo{
	font-size: 35px;
}