.display-mini8{
	display: inherit !important;
}


div.contacto-mini{
	display:block;
}

div.contacto{
	display: none;
}

.formulario{
	width: 100%;
	margin:auto;
	text-align: right;
}
div.cuadro-form{
	margin-left: 5%;
	margin-right: 5%;
	border:solid 5px;
	border-bottom-right-radius: 5%; 
	border-bottom-left-radius: 5%; 
	background:rgba(255,255,255,1);
}
div.Mensaje{
	text-align: right;
	margin-right: 15%;
}
div.sexo{
	width: 62%;
	text-align: right;
}
input{
	width: 50%;
	font-size: 12px;
	height: 19px;
}
textarea{
	min-width:49%;
	max-width: 49%; 
	font-size: 12px;
}
h2.titulo{
	padding-bottom:15px;
	margin-top: 15px; 
	font-size: 19px;
}
label{
	font-size: 12px;
	margin-right: 5px;
}
select{
	font-size: 12px;
	width: 40%;
	height: 19px;
}
input[type="submit"] {
	margin-bottom: 40px;
	margin-top: 20px;
	font-size: 13px;
	height: 25px;
}


/*CONTACTO PAGINA*/
div.contacto-pag{
	border:solid 5px;
	margin-right: 5%;
	margin-left: 5%;
	border-bottom: 0;
	border-top-right-radius:4% ; 
	border-top-left-radius:4% ; 
}
li.imagen{
	padding-left:5%;
	width: 95%; 
	padding-top: 15px ; 

}
ul.lista{
	padding-top: 0px;
}
p{
	font-size: 14.5px;
}
.imagen-correo,.imagen-redes{
}
div.lista-pag{
}
.imagen{
}
.usuario{
	width: 80px;
	height: 80px;
}
.imagen-correo{
	height:15px ;
	width:20px;
}
.imagen-redes{
	height:20px ;
	width:20px;
}