.display-mini7{
	display: inherit !important;
}

div.contacto-mini{
	display:block;
}
div.contacto{
	display: none;
}

.formulario{
	width: 100%;
	margin:auto;
	text-align: right;
}
div.cuadro-form{
	margin-left: 5%;
	margin-right: 5%;
	border:solid 5px;
	border-bottom-right-radius: 5%; 
	border-bottom-left-radius: 5%; 
	background:rgba(255,255,255,1);
}
div.Mensaje{
	text-align: right;
	margin-right: 15%;
}
div.sexo{
	width: 68%;
	text-align: right;
}
input{
	width: 55%;
	font-size: 13px;
	height: 15px;
}
textarea{
	min-width:54%;
	max-width: 54%; 
	font-size: 13px;
}
h2.titulo{
	padding-bottom:15px;
	margin-top: 15px; 
	font-size: 18px;
}
label{
	font-size: 14px;
	margin-right: 10px;
}
select{
	font-size: 14px;
	width: 50%;
}
input[type="submit"] {
	margin-bottom: 40px;
	margin-top: 20px;
	font-size: 15px;
	height: 30px;
}


/*CONTACTO PAGINA*/
div.contacto-pag{
	border:solid 5px;
	margin-right: 5%;
	margin-left: 5%;
	border-bottom: 0;
	border-top-right-radius:4% ; 
	border-top-left-radius:4% ; 
}
li.imagen{
	padding-left:12%;
	width: 90%; 
	padding-top:15px ; 

}
ul.lista{
	padding-top: 0px;
}
p{
	font-size: 16px;
}
.imagen-correo,.imagen-redes{
}
div.lista-pag{
}
.imagen{
}
.usuario{
	width: 85px;
	height: 85px;
}
.imagen-correo{
	height:17px ;
	width:22px;
}
.imagen-redes{
	height:22px ;
	width:22px;
}