.display-mini8{
	display: inherit !important;
}

#top10 {
	display: none;
}
p#description{
	display: none;
}	
/*Caja de inicio*/

.cajadeinicio {
	display: none;
}

/*cuadro bloque receta*/
div.container{
	margin-top: 10px;
	margin-bottom: -30px;
	border:2.5px inset orange;
	background-color: rgba(255,255,255,0.5);
	border-radius: 4%;
	width: auto;
	margin-right:2%;
	height: 135px;
	margin-left:3%;
	padding: 7px 2px;
}

div.flexslider{
	width: 130px;
	height: 150px;
	margin-top: 12px;
}

/*SHOXSLIDE imagenes */
.slides{
	padding: 0;
	margin: 0 5px;
}
.fotoreceta img{
	width: 112px;
	height: 112px;
}

ul .slides li.fotoreceta{
	width: 128px;
	height: 128px;
}
/*ESTILO DE PUNTOS DE SLIDE SHOW*/
.flex-control-nav li{
	margin-right: 12px;
}
.flex-control-nav li a{
	border: 0.8px solid black;
	width: 4.5px;
	height: 4.5px;
}

ol.flex-control-nav, 
.flex-control-paging{
	width: 70px;
	height: 10px;
	margin-top: 100px ;
	margin-left: 45px ;
}
li.flex-nav-next{
	margin:0;
}
.flex-direction-nav li{
	margin-top: -18px;
	margin-right:58px;
	margin-left:-32px ; 
}
.flex-direction-nav a:before {
  font-size: 11px;  
}
a.flex-next:before{
	padding: 50px 10px;
} 
li a.flex-prev {
	padding: 50px 0;
}
ul.flex-direction-nav{
	width: 240px;
}
/*TITULO*/
h2.titulo{
	font-size: 0.8em;
	margin-top: 0px;
} 

/*ESTRELLAS*/
form.clasificacion{
	font-size: 0.8em;
	height: 20px;
}

/*TIME COOK*/
.cooktime{
	top: 2px;
	left: 20px;
	font-size: 0.7em;
}

/*ETIQUETAS*/
.etiquetas{
	font-size: 9.5px;
}
/*INGREDIENTES*/
p.ingredientes{
	font-size: 0.55em;
	margin-top: 10px;
}


