/*Alerta*/
.letra-boton{
  font-size: 15px;
  font-weight: bold;
}
.titulo-alerta{
  font-size: 22px;
  font-family: century Gothic;
}

.swal2-styled.swal2-confirm{
  padding: 5px 34px;
}

div.nomostrar{
	display: none;
}


div.cuadro-perfil{
	border:inset orange 5px;
	background-color: rgba(250, 245, 230,0.9);
	width: 50%;
	min-height: 200px;
	margin-left: 25%;
	margin-bottom: 40px;
	border-radius: 6%;

}
div.usuario{
	width:100%;
	text-align: center; 
}

img.usuario{
	width: 100px;
	height: 100px;
}

.nombre-correo{
	margin: 0px;
	color: black;
	font-size: 15px;
	font-family: Century Gothic;
	width: 100%;
	margin-top: 20px;
	font-weight: normal;
	text-align: center;
}
.nombre{
	color: black;
	margin-top: 10px;
	font-weight: normal;
	overflow-wrap: break-word;

}
.correo{
	color:black;
	font-weight: normal;
	overflow-wrap: break-word;
	margin-left: 5%;
	margin-right: 5%;
}
p.lapiz{
	position: relative;
	margin:0;
	width: 95%;
	text-align: right;
	margin-top: 10px;
	margin-right: 15px;
	font-size: 20px;
}



/*RECETAS FAVORITAS*/

.favoritas{
	border:inset 5px orange;
	width: 80%;
	margin-left: 10%;
	border-radius: 5%;
	background-color: rgba(255,255,255,0.5);
	min-height: 250px;
	max-height: 4000px;
}
h2.favorita{
	color: black;
	width: 100%;
	text-indent: 5%;	
	font-size: 30px;
	font-family: Century Gothic;
	border-bottom: 4px solid;
}

p.fav{
	color: black;
	text-align: center;
	width: 100%;
	margin-top: 50px;
	font-size: 25px;
	font-family: Century Gothic;
	
}
div.container{
	margin-left: 10%;
	margin-right: 10%;
width: auto;
}

/*EDITAR PERFIL*/
.titulolabel{
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-right: 3%;
}

.titulolabel:hover{
	color: black;
}

.espacio{
	margin-right: 0;
	width: 100%;
}

.boton{
	  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: none;
    background: darkorange;
  color: #000;
    height: 30px;
  width: 100px;
}
.boton:hover{
  cursor: pointer;
  background: rgba(255,165,0,0.5);
}
b.nuevo:hover{
	color: black;
}b.nuevo{
	color: black;
}
div#agregado.agregado:hover{
	color: black;
}
a:hover{
	color: black;
}
input{
	color: black;
}
input:hover{
	color:black;
}
.enlace{
	text-decoration: underline;
	font-family: Century Gothic;
}
.enlace:hover{
	color:darkorange;
}